<!--ログインユーザ名を表示-->
<div class="text-center user_wellcome py-3"><%= @user.name %>さんこんにちは</div>
<div class="card" style="width: 18rem;">
  <!--画像が登録されていればそれを表示、されていなければ事前用意画像を表示-->
  <% if @user.image.thumb.url %>
    <%= image_tag @user.image.thumb.url, class: "card-img-top" %>
  <% else %>
    <img src="/no_image.png" class="card-img-top">
  <% end %>
  <!--プロフィールがあれば表示、なければ未編集であるという文章を表示-->
  <h6 class="card-title text-center">プロフィール</h6>
  <div class="card-text">
    <% if @user.profile %>
      <%= @user.profile %>
    <% else %>
      <p>このユーザはまだプロフィールを追加していません</p>
    <% end %>
  </div>
  <!--編集ボタン-->
  <%= link_to 'プロフィールの編集', edit_user_path(current_user), class: "btn btn-primary mt-2 mb-2" %>
</div>