<h2>投稿詳細画面</h2>
<div>
  <%= image_tag @post.image.thumb.url %>
</div>
<% unless @post.user_id == current_user.id %>
  <% if @like.present? %>
    <div>
      <%= link_to 'お気に入り解除する', like_path(id: @like.id), method: :delete %>
    </div>
  <% else %>
    <div>
      <%= link_to 'お気に入りする', likes_path(post_id: @post.id), method: :post %>
    </div>
  <% end %>
<% end %>